<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background:rgb(0,0,0,0.2); padding: 3px;position:absolute;bottom:0;left:0;width: 100%;}
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; float:left;width: 100%;overflow:auto;height: 520px;}
      #messages li { padding: 5px 10px; float:left;width: 100%;}
      #messages li img{width:40px;height:40px;display: block;border-radius:20px;float:left;}
      #messages li span{display:block;float:left;margin-left:5px;line-height: 40px;height:40px;width:550px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
      #messages li:nth-child(2n) { background: #eee; }
      #messages { margin-bottom: 40px }
      .main{width:1600px;margin:0 auto;}
      .left{width: 960px;height: 600px;float:left;background:#000;display:flex;justify-content:center;align-items:center;color:#fff;font-size:28px;position:relative;overflow: hidden;}
      .chatwith{float:left;width: 640px;position:relative;height: 600px;}
      #left div{transition: left 5s linear;position:absolute;left:960px;top:0;white-space:nowrap;}
    </style>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <body>

   <div class="main">
     <div class="left" id="left">
       视频
     </div>
     <div class="chatwith">
       <h3>评论区 当前在线人数: <span id="renshu">0</span></h3>
       <ul id="messages">
       </ul>
       <form action="">
         <input id="m" autocomplete="off" /><button>Send</button>
         <input type="hidden" id="qq" value="<%- qq %>">
       </form>
     </div>
   </div>

    <script>
    function jiaz(s){
      if (s<10){
        return '0'+s;
      } else
        return s;
    }
    let getTime=function(){
      var shijian=new Date();
      var h=jiaz(shijian.getHours());
      var m=jiaz(shijian.getMinutes());
      var s=jiaz(shijian.getSeconds());
      return h+":"+m+":"+s;
    }
      $(function () {
        var num=0;
        var csslist=15;
        var socket = io();
        $('form').submit(function(){
          if ($('#m').val()==''){
            return false;
          }
          socket.emit('chat message', {msg:$('#m').val(),qq:$('#qq').val()});
          $('#m').val('');
          return false;
        });

        socket.on('onlineUsers',function (data) {
          $('#renshu').text(data.onlineUsers)
        })

        socket.on('chat message', function(data){
          $('#messages').append($('<li>').text(getTime()));
          $('#left').append($('<div>').text(data.msg).attr('id',++num));
          $('#messages').append($('<li>').append($('<img>').attr('src',`http://q1.qlogo.cn/g?b=qq&nk=${data.qq}&s=640`)).append($('<span>').text(data.msg)));
          document.getElementById('messages').scrollTo(0, $('#messages li').length*75);
          numfunction(num)
        });
        function numfunction(num) {
          $('#'+num).css({left:-$('#'+num).width(),top:37*$('#'+num).siblings().length+'px'});
          setTimeout(function () {
            $('#'+num).remove();
          },5000)
        }
      });
    </script>
  </body>
</html>
